<h3 class="container mx-auto m-2 my- text-danger">Cart</h3>

<div class="container mt-4 p-3 border border-secondary border-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Animal</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      @for (pet of cartItems; track pet; let idx = $index) {
      <tr>
        <td><img [src]="pet.image" class="" style="height: 50px" alt="" /></td>
        <td>{{ pet.species }}</td>
        <td>{{ pet.quantity }}</td>
        <td>{{ pet.price | currency : "EUR" }}</td>
        <td>
          <button class="btn btn-light" (click)="decreaseQuantity(pet)">
            <i class="bi bi-dash-circle-fill"></i></button
          ><button
            class="btn btn-light border-dark border-1 mx-2"
            (click)="deletePet(idx)"
          >
            <i class="bi bi-trash-fill fs-5"></i></button
          ><button class="btn btn-light" (click)="increaseQuantity(pet)">
            <i class="bi bi-plus-circle-fill"></i>
          </button>
        </td>
        <td>{{ pet.quantity * pet.price | currency : "EUR" }}</td>
      </tr>
      }
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <p class="fw-bold fs-4 me-4">
      Total:
      <span class="fw-bold fs-4 ms-2"> {{ total | currency : "EUR" }} </span>
    </p>
  </div>
</div>
