<section>
  <div class="row row-cols-3 container mx-auto mt-4">
    @for (pet of petsData; track pet; let id = $index) {
    <div class="p-2">
      <div class="card">
        <img [src]="pet.image" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ pet.species }}</h5>
          <p class="card-text">
            {{ pet.description }}
          </p>
          <a routerLink="/details/{{ id }}" class="btn btn-primary me-4"
            >Details</a
          >
          <button (click)="addToCart(this.pet)" class="btn btn-danger">
            Add to cart
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</section>
